// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@font-face {
  font-family: Aureta;
  src: url("./font/Auretta.otf") format("opentype");
}

@font-face {
  font-family: Romantic;
  src: url("./font/romantic-ending-demo.regular.ttf") format("opentype");
}


.font-aureta{
  font-family: Aureta;
}
.font-normal{
  font-family: Poppins;
}
.font-romantic{
  font-family: Romantic;
}
.font-kalam{
  font-family: 'Kalam', cursive;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* reset styles */
* {
  color: inherit;
  margin: 0;
  cursor: default;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* position: relative;
  right: 20px; */
}
/* Track */
::-webkit-scrollbar-track {
  /* background: rgba(255, 255, 255, 0.07);  */
  background: grey; 
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background: $primary; 
  border-radius: 5px;
  cursor: grab;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555;  */
  background: lighten($primary, 20); 
}


// .dot{
//   // padding: 10px;
//   border-radius: 50%;
//   height: 1rem;
//   width: 1rem;
//   display: inline-block;
// }

.ul-disc{
  list-style-type: none;
  // list-style-position: outside;
}

.ul-disc li::before {
  content: " ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  // color: red; /* Change the color */
  // font-weight: bold; /* If you want it to be bold */
  // display: inline-block; /* Needed to add space between the bullet and the text */
  // width: 1em; /* Also needed for space (tweak if needed) */
  // margin-left: -1em; /* Also needed for space (tweak if needed) */
  height: 0.75rem;
  width: 0.75rem;
  min-height: 0.75rem;
  min-width: 0.75rem;
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  margin-right: 1rem;
  margin-top: 0.4rem;
}


/////// ARROWS
$arrows: (
  up: 0 100px 144px 100px,
  down: 144px 100px 0 100px,
  right: 100px 0 100px 144px,
  left: 100px 144px 100px 0
);

$base-arrow: 0.75rem;
$arrow-size: (
  sm: $base-arrow,
  md: $base-arrow * 1.5,
  lg: $base-arrow * 2.2,
  xl: $base-arrow * 3,
  xxl: $base-arrow * 6
);

@mixin arrow($border, $color, $direction){
  border-style: solid;
  border-width: $border;
  width: 0;
  height: 0;
  -webkit-transform:rotate(360deg);

  // @debug $direction;

  @if $direction == "down" {
    & {
      border-color: $color transparent transparent transparent;
      border-width: $border * 1.5 $border 0 $border;
    }
  }
  @if $direction == "left" {
    & {
      border-color: transparent $color transparent transparent;
      border-width: $border $border * 1.5 $border 0;
    }
  }
  @if $direction == "up" {
    & {
      border-width: 0 $border $border * 1.5 $border;
      border-color: transparent transparent $color transparent;
    }
    // @debug 0 $border $border * 1.5 $border;
  }
  @if $direction == "right" {
    & {
      border-color: transparent transparent transparent $color;
      border-width: $border 0 $border $border * 1.5;
    }
    // @debug $border 0 $border $border * 1.5;
  }
}
$directions: ("up", "down", "left", "right");

@each $bordersize, $border in $arrow-size {
  @each $colorkey, $color in $colors {
    @each $direction in $directions {
      .arrow-#{$direction}-#{$colorkey}-#{$bordersize}{
        @include arrow($border, $color , $direction );
        // @debug ".arrow-#{$direction}-#{$colorkey}-#{$bordersize}";
        // @debug ".arrow-up-#{$colorkey}-#{$borderkey}"
      }
    }
  }
}


.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}


.dark{
  --s: 50px;
  // --c: #191b22;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.light{
  --s: 50px;
  // --c: #191b22;
  --c: whitesmoke;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: rgba(250, 250, 250, 0) 66%,#ffffff 68% 70%,rgba(255, 255, 255, 0) 72%;
  background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.light-transparent{
  --s: 50px;
  // --c: #191b22;
  --c: transparent;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: rgba(250, 250, 250, 0) 66%,#ffffff 68% 70%,rgba(255, 255, 255, 0) 72%;
  background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.dark-bgcolor{
  background-color: #191b22;
}
