.gallery-page-widget{
    /* width: 100%; */
    position: relative;
}
.gallery-page-widget .imgcover{
    
    min-width: 100%;
    /* min-height: 100%; */
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}
.gallery-page-widget img.img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.gallery-page-widget img.img:hover{
    transform: scale(1.2);
}
.gallery-page-widget img.fav{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 20px;
    fill: red;
    color: #ff38598a;
    z-index: 999;
}
.gallery-page-widget .title{
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 2px black;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    cursor: pointer;
}
.gallery-page-widget .title > span{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    // max-width: 75%;
}
.gallery-page-widget .title > span.name{
    max-width: 75%;
}
.gallery-page-widget .title > span:nth-child(2){
    min-width: 60px;
    text-align: end;
}
.gallery-page-widget .title > span:nth-child(2) .sale{
    font-size: 0.7em;
    text-decoration: line-through;
    color: red;
}
