.manage-messages-main{
    padding: 0px;
}

.manage-messages-main.dark p,
.manage-messages-main.dark span{
    color: white;
}

.manage-messages-main .left{
    width: 30%;
    height: calc(150px + 55vh);
    max-height: calc(150px + 55vh);
    /* height: 100%; */
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.manage-messages-main.dark .left{
    background-color: map-get($colors, "darkaccent" );
}

.manage-messages-main .left.mobile{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow-y: auto;
}
.manage-messages-main .left .widget{
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}
.manage-messages-main.dark .left .widget{
    background-color: map-get($colors, "darkaccent" );
    color: white;
}
.manage-messages-main .left .widget img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.manage-messages-main .left .widget.close img{
    box-shadow: none;
}
.manage-messages-main .left .widget span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.manage-messages-main .left .widget > .counter{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: 50px;
    padding: 4px;
    border-radius: 50%;
    /* background-color: map-get($colors, "red"); */
    background-color: #B24C4C;
    color: white;
    font-size: 0.7em;
    z-index: 1;
  }

.manage-messages-main .right{
    // width: 70%;
    min-height: 220px;
}

.manage-messages-main .right .header{
    height: 70px;
    width: calc(100% - 2rem);
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 15px;
}
.manage-messages-main.dark .right .header{
    background-color: map-get($colors, "darkaccent" );
    color: white;
}
.manage-messages-main .right .header .img{
    height: 30px;
    width: 30px;
}
.manage-messages-main .right .header .markasread{
    font-size: 0.8rem;
    background-color: #B24C4C;
    /* background-color: map-get($colors, "red"); */
    color: white;
    padding: 5px 1rem;
    border-radius: 1rem;
}

.manage-messages-main .right .content{
    height: 55vh;
    padding: 0rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}
.manage-messages-main.dark .right .content{
    background-color: map-get($colors, "darkaccent" );
}
.manage-messages-main.mobile .right .content{
    height: 50vh;
}
.manage-messages-main .right .content .bubble{
    /* background-color: whitesmoke; */
    padding: 5px 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: 55%;
}
.manage-messages-main.dark .right .content .bubble{
    background-color: lighten(map-get($colors, "darkaccent" ), 10%);
    color: white;
}
.manage-messages-main .right .content .sender{
    align-self: flex-start;
}
.manage-messages-main .right .content .receiver{
    align-self: flex-end;
}
.manage-messages-main .right .content .bubble.receiver{
    background-color: map-get($colors, "blue" );
}


.mmmrcq-items-widget {
    margin-top: 10px;
}
.mmmrcq-items-widget .button-action-container{
    border-bottom: 1px solid #b5813e;
    margin-top: 5px;
}
.mmmrcq-items-widget .button-action-container button{
    /* background-color: red; */
    padding: 5px 1rem;
    width: auto;
    font-size: 1rem;
}
.mmmrcq-items-widget .button-action-container button.btn-green{
    border-radius: 0px 10px 10px 0px;
}
.mmmrcq-items-widget .input{
    width: 50px;
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border: none;
}
.mmmrcq-items-widget-link{
    font-size: 0.7em;
    padding: 1px 10px;
    border-radius: 10px;
    text-decoration: underline;
    /* background-color: red; */
}





.manage-messages-main .right .replybox{
    height: auto;
    width: calc(100%);
    /* padding: 10px; */
    /* box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1); */
    /* background-color: red; */
    /* border-radius: 10px; */
}
.manage-messages-main .right .replybox textarea{
    height: 30px;
    width: calc(100% - 5rem);
    resize: none;
    padding: 10px;
    /* background-color: whitesmoke; */
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
}
.manage-messages-main.dark .right .replybox textarea{
    background-color: map-get($colors, "darkaccent" );
    color: white;
    border-color: map-get($colors, "darkaccent" );
}
.manage-messages-main .right .replybox .send{
    width: calc(20% - 2rem);
}
.manage-messages-main .right .replybox .img{
    height: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}
.manage-messages-main.dark .right .replybox .img{
    background-color: map-get($colors, "darkaccent" );
}
.manage-messages-main .right .replybox .img.closed{
    background-color: rgb(230, 230, 230);
}
.manage-messages-main.dark .right .replybox .img.closed{
    background-color: map-get($colors, "darkaccent" );
}

.manage-messages-main .minitext{
    font-size: 0.8em;
}

