

.manage-category-main > .widget{
    width: 100%;
    /* min-height: 100px; */
}
.manage-category-main > .widget.bg-gray{
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 1rem;
}
.manage-category-main > .widget .title{
    width: 50%;
}
.manage-category-main > .widget .color{
    // width: 10%;
    height: 40px;
    border-width: 0px;
    padding: 0px;
}
.manage-category-main > .widget img{
    height: 50px;
    aspect-ratio: 2 / 1;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
// .manage-category-main > .widget .btn-green{
//     // width: 15%;
// }
.manage-category-main > .widget .btn-green.twice{
    width: calc(30% + 10px);
}
.manage-category-main > .widget .btn-green:disabled{
    background-color: grey;
}

.manage-category-main.dark input{
    background-color: map-get($colors, "darkaccent" );
    color: white;
    border-color: map-get($colors, "darkaccent" );
}
.manage-category-main.dark > .widget img{
    background-color: map-get($colors, "darkaccent" );
}