#global-prompt{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
#global-prompt > .container{
    width: calc(30% - 40px);
    max-width: $base-max-width;
    background-color: $primary;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-overflow: ellipsis;
    padding: 2rem;
}

#global-prompt > .container .choice button{
    width: calc(50% - 1rem);
}

#global-prompt > .container > .password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
}
#global-prompt > .container > .password > div{
    margin-top: 10px;
}
#global-prompt > .container > .password button{
    width: calc(50% - 1rem);
}
#global-prompt > .container > .password input{
    width: calc(100% - 2rem);
    border: none;
    padding: 5px 1rem;
    padding-left: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: none;
    background-color: white;
    height: 100%;
}


#global-prompt > .container > .choice{
    width: 100%;
    margin-top: 10px;
}



@include sm{
    #global-prompt > .container{
        width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
    }
    
}
@include md{
    #global-prompt > .container{
        width: calc(50% - 2rem);
        max-width: $base-max-width;
    }
    
}
@include lg{
    #global-prompt > .container{
        width: calc(30% - 2rem);
        max-width: $base-max-width;
    }
    
}